<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="breadcrumbs">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"  >Home</a>
      
        <a [routerLink]="['/movie-list']" >Movie Review</a>
        <span>{{ movie.title }}</span>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <figure class="movie-poster"><img src="{{ movie.image }}" width="100%" alt="poster_{{movie.title}}"></figure>
          </div>
          <div class="col-md-6">
            <h2 class="movie-title">{{movie.title}}</h2>
            <div class="movie-summary">
              {{ movie.short_desc }}
            </div>
            <ul class="movie-meta">
              <li><strong>Rating:</strong> 
                <div class="star-rating" title="Rated {{movie.rating}} out of 10"><span class = star_{{movie.rating}} ><strong class="rating">{{movie.rating}}</strong> out of 10</span></div>
              </li>
              <li><strong>Length:</strong> {{movie.runtime}}</li>
              <li><strong>Premiere:</strong> {{movie.release}}</li>
              <li><strong>Category:</strong> {{movie.get_category}}</li>
            </ul>

            <ul class="starring">
              <li><strong>Directors:</strong> {{movie.director}}</li>
              <li><strong>Writers:</strong> {{movie.writer}}</li>
              <li><strong>Stars:</strong> {{movie.cast}}</li>
            </ul>
          </div>
        </div> <!-- .row -->
        <div class="entry-content">
          <p innerHTML="{{movie.review}}" ></p>
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</main>