<main class="main-content">
  <div class="container">
    <div class="page">
      <div class="breadcrumbs">
        <a href="index.html">Home</a>
        <span>Movie Review</span>
      </div>

      <div class="filters">
        <select (change)="getFilter($event)" placeholder="Choose Category">
          <option value="1">Action</option>
          <option value="5">Adventure</option>
          <option value="4">Animation</option>
          <option value="2">Comdey</option>
          <option value="3">Drama</option>        
          <option value="6">Horror</option>
          <option value="7">Mystery</option>
        </select>
        <select (change)="getFilter($event)" name="#" id="#">
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
        </select>
      </div>
      <!--
       --> <!-- .movie-list -->

      <div class="movie-list">
        
        <div *ngFor="let movie of movies " class="movie">
          <figure class="movie-poster"><img src="{{movie.image}}" alt="#"></figure>
          <div class="movie-title"><a routerLink="/movie/{{movie.id}}">{{ movie.title }}</a></div>
          <p>{{ movie.short_desc | slice:0:60 }}</p>
        </div>

      </div>

      <div class="pagination">
        <a  (click)="getPrev()" class="page-number prev"><i class="fa fa-angle-left">Prev</i></a>
        
        <span class="page-number current">{{count}}</span>
         <!--
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="page-number">4</a>
        <a href="#" class="page-number">5</a>
          -->
        <a  (click)="getNext()" class="page-number next">Next<i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div> <!-- .container -->
</main>